* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    margin: 1rem 0;
    color: rgb(91, 91, 255);
    text-align: center;
    font-family: "Calibri Light", sans-serif;
    text-transform: uppercase;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.uppercase-paragraph {
    font-family: "Calibri Light", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.paragraph {
    font-family: "Calibri Light", sans-serif;
    font-size: 18px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navigation-bar {
    display: flex;
    padding-right: 25%;
    padding-left: 25%;
    justify-content: space-between;
}

#time-per-subject-div {
    padding-right: 5%;
    padding-left: 5%;
}

#ects-paragraph-div {
    padding-right: 5%;
    padding-left: 5%;
}

#ects-div {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
}

#ects-graph-div {
    display: inline-block;
    padding-right: 5%;
}

#ects-table-div {
    display: inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}

#activity-pie-div {
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
}

.activity-pie-options-item {
    font-family: "Calibri Light", sans-serif;
    font-size: 20px;
}

#activity-pie-options-div {
    display: flex;
    padding-top: 1%;
    justify-content: center;
}

.simplistic-button {
    background-color: white;
    border: none;
    color: black;
    font-family: "Calibri Light", sans-serif;
    font-size: 26px;
    font-weight: 500;
    padding: 0.5em 0.5em;
    text-align: center;
    letter-spacing: normal;
    line-height: 0.5em;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.simplistic-button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: 0.3s;
    transform-origin: center;
}

.simplistic-button:hover::before {
    width: 100%;
    transform: scaleX(2);
    transform-origin: center;
}
